Package: com.volumestep.randy420
Name: VolumeStep13/14
Author: Randy420 <randy.skinner@hotmail.com>
Description: https://Randy-420.GitHub.io/depic/volumeStep.html
Depends: mobilesubstrate, com.randy420.tools (>=1.7)
Maintainer: Randy420 <randy.skinner@hotmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.2.0