Package: com.volumestep13.randy420
Name: VolumeStep13/14
Author: Randy420 <randy.Skinner@hotmail.com>
Description: Change the volume step limits
Depends: mobilesubstrate, ws.hbang.common
Maintainer: Randy420 <randy.skinner@hotmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 0.1.0
Installed-Size: 612
